.about {
  min-height: 100vh;
  background: var(--background-secondary);
  display: flex;
  align-items: center;
  padding: 0 5%;
  position: relative;
  overflow: hidden;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 100px 0;
  position: relative;
  z-index: 2;
}

.ts-icon-container {
  width: 60px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.ts-icon-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  color: var(--primary);
}

.tech-icon {
  color: var(--primary);
  width: 60px;
  height: 48px;
}

.about-title {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--primary);
  text-shadow: 0 4px 6px var(--shadow-color);
  position: relative;
  margin-bottom: 1rem;
  line-height: 1.1;
  text-align: center;
}

.about-description {
  font-size: 1.1rem;
  color: var(--text-secondary);
  max-width: 1000px;
  text-align: center;
  line-height: 1.6;
}

.tech-stack-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary);
  text-shadow: 0 4px 6px var(--shadow-color);
  position: relative;
  margin-bottom: 1rem;
  line-height: 1.1;
  text-align: center;
}

.tech-stack-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.tech-stack-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px var(--shadow-color);
  gap: 0.5rem;
  width: 200px;
}

.tech-stack-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-stack-card i {
  font-size: 3rem;
  color: var(--primary);
}

.tech-stack-card span {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: var(--text-primary);
}
