.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5%;
    display: flex;
    background-color: var(--background);
    backdrop-filter: blur(12px);
    z-index: 1000;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 2px 4px var(--shadow-color);
}

.logo {
    display: flex;
}

.logo img {
    max-height: 50px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    color: var(--primary-light);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a::after {
    color: var(--primary-light);
}

.nav-links a:hover {
    color: var(--primary-dark);
}

.nav-links a:hover::after {
    color: var(--primary-dark);
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .navbar {
        padding: 0.5rem 5%;
    }
}